.about {
  margin: 160px 118px 160px 118px;
  display: flex;
}

.about-text {
  margin-left: 165px;
  float: left;
  padding: 50px;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;

  color: #091540;

  display: flex;
  align-items: left;
  justify-content: left;
  letter-spacing: 0.2px;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #091540;

  max-width: 540px;

  display: flex;
  align-items: left;
  justify-content: left;
}

.frog-img {
  width: 400px;
  height: 400px;
  margin-left: 192px;
}

.profile-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 30px;

  margin-bottom: 130px;
}

.team-header {
  margin: 0;
  display: flex;
  justify-content: center;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;

  color: #091540;
}
