.about {
  margin: 100px;
  display: flex;
}

.about-text {
  margin-left: 165px;
  float: left;
  padding: 50px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;

  display: flex;
  align-items: left;
  justify-content: left;
  letter-spacing: 0.2px;

  color: #000000;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  max-width: 540px;

  display: flex;
  align-items: left;
  justify-content: left;

  color: #000000;
}

.frog-img {
  width: 400px;
  height: 400px;
  margin-left: 192px;
}
