h1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;

	color: #000000;

	display: flex;
	justify-content: center;
	text-align: center;
	align-content: center;
	margin-top: 75px;
}

h3 {
	font-size: 24px;

	display: flex;
	justify-content: left;
	text-align: left;
	align-content: left;

	margin-top: 100px;
	margin-left: 165px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;

	display: flex;
	justify-content: left;
	text-align: left;
	align-content: left;

	margin-left: 165px;

	color: #000000;
}
