a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.landing-navbar {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  /* position: fixed; */
}

.navbar--items {
  margin: 0;
  padding-left: 165px;
  padding-right: 165px;
  right: 165px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #091540;

  height: 100px;

  background: none;
}

.navbar--item {
  list-style-type: none;
  margin-right: 40px;
}

.navbar--title {
  list-style-type: none;
  margin-right: auto;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;

  color: #ED305D;
}

.submit-event-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #091540;

  padding: 15px 26px 15px 26px;

  background: none;
  border: 4px solid #091540;
  border-radius: 10vh;

  transition: all 200ms ease;

  cursor: pointer;
}

.submit-event-button:hover {
  color: white;
  background: #091540;
}

.navbar-frog-img {
  width: 65px;
  height: 65px;
}

.selectable.active:after {
  position: relative;
  margin-bottom: -4px;

  content: "";
  float: left;
  background: #ED305D;
  border-radius: 50px;
  width: 100%;
  height: 4px;
}
