.visually-hidden {
  display: none;
}

.search input[type=text]{
  width:700px;
  height:55px;

  padding: 10px 30px 10px 30px;

  background: #E5E5E5;
  border-radius:100vh;
  border: none;

  font-size: 18px;
}

.search{
  margin: 10px;
}

.search-button{
  margin-right: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
  margin-left: -60px;
}
