.upcoming-events-header {
  margin-top: 150px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-view {
  list-style-type: none;
  margin-right: 165px;
}

.calendar-view-symbol {
  padding: 10px;

  width: 20px;
  height: 20px;

  background: #E5E5E5;
}

.upcoming-events-title {
  list-style-type: none;

  margin-right: auto;
  margin-left: 165px;
}

.upcoming-events-title-text {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.card-grid {
  margin-left: 165px;
  margin-right: 165px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;

}

.button {
  border: transparent;
  background: transparent;
  cursor:pointer;
}

.event-card {
  margin: 30px 30px 48px 30px;

  width: 540px;
  height: 190px;
  background: #E5E5E5;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  align-self: center;
  justify-self: center;
  border-radius: 10px;
}

.card-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;

  margin: 25px 45px 25px 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 135px;
  height: 135px;

  background: #C4C4C4;
  border-radius: 10px;
}

.card-info {
  margin: 0;
  text-align: left;

  height: 135px;
}

.card-info h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;

  line-height: 24px;
}

.card-info p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
}

.card-tag {
  background: #ACC8FF;
  border-radius: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  width: 66px;
  height: 16px;

  margin: 0;
  padding: 7px 19px;
  align-items: center;
  justify-content: center;
}
