.upcoming-events-header {
  margin-top: 150px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-view {
  list-style-type: none;
  margin-right: 165px;
}

.inverted-calendar-view-symbol {
  padding: 10px;

  width: 26px;
  height: 26px;

  background: #091540;
  border: 4px solid #091540;
  border-radius: 45%;
}

.calendar-view-symbol {
  padding: 10px;

  width: 26px;
  height: 26px;

  background: none;
  border: 4px solid #091540;
  border-radius: 45%;
}

.upcoming-events-title {
  list-style-type: none;

  margin-right: auto;
  margin-left: 165px;
}

.upcoming-events-title-text {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.card-grid {
  margin-left: 165px;
  margin-right: 165px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;

  margin-bottom: 160px;
}

.button {
  border: transparent;
  background: transparent;
  cursor:pointer;
}

.event-card {
  margin: 30px 30px 48px 30px;

  width: 570px;
  height: 250px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  align-self: center;
  justify-self: center;

  background: #FFFFFF;
  border: 4px solid #091540;
  border-radius: 20px;

  cursor: pointer;
}

.card-date {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;

  color: #091540;

  margin: 32px 28px 32px 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 190px;

  background: #C6DDF0;
  border-radius: 30px;
}

.card-info {
  margin: 0;
  text-align: left;

  height: 135px;

  color: #000000;
}

.card-info h1 {
  margin: -25px 0 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.card-info p {
  margin: 40px 0 38px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 0px;
}

.card-tag {
  background: #ED305D;
  border-radius: 20px;
  color: #FFFFFF;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  width: fit-content;

  padding: 7px 19px;
  align-items: center;
  justify-content: center;
}
